snippet layout
!!!
%html{lang: I18n.locale}
	%head
		%title
			= "#{@title} | " unless @title.blank?
			= application_name
		= stylesheet_link_tag 'application', media: 'all'
		= csrf_meta_tags
	%body
		= yield
		= javascript_include_tag 'application'
endsnippet
