snippet c
class $1 {
  package { "$1": 
    ensure => "installed"
  }
  service { "$1":
    ensure => "running",
    enable => true,
    require => Package["$1"]
  }
}
endsnippet

snippet p
package { "$1": 
  ensure => "installed"
}
endsnippet

snippet s
service { "$1":
  ensure => "running",
  enable => true,
  require => Package["$1"]
}
endsnippet

snippet f
file { "$1":
  ensure => "present",
  content => template("$2")
}
endsnippet
